yahoofinancials==1.5
robin-stocks
git+git://github.com/jmfernandes/robin_stocks#egg=robin-stock
flower
celery
redis
numpy
pylint
autopep8
rope
jupyterlab
pandas_datareader
matplotlib
pandas
pylint
dirtyjson
click
iexfinance
orator
python-dotenv
alpaca-trade-api

typing_extensions

pytest
pytest-mock
freezegun

# dev
supervisor